:root {
  --border-colour: #d9dada;
  --accent: #373f52;
  --bg-1: #f4f4f4;

  --grass: #5fbd58;
  --grass-light: #81c784;
  --grass-active: #c3f3c7;
  --poison: #b763cf;
  --water: #539ddf;
  --fire: #fba54c;
  --flying: #a1bbec;
  --bug: #92bc2c;
  --normal: #a0a29f;
  --electric: #f2d94e;
  --fairy: #ee90e6;
  --ground: #da7c4d;
  --fighting: #d3425f;
  --rock: #c9bb8a;
  --ice: #75d0c1;
  --dragon: #0c69c8;
  --psychic: #fa8581;
  --dark: #595761;
  --ghost: #5f6dbc;
  --steel: #5695a3;

  --color-black: #607d8b;
  --color-blue: #81d4fa;
  --color-brown: #bcaaa4;
  --color-gray: #a6a6a6;
  --color-green: #81c784;
  --color-pink: #f8bbd0;
  --color-purple: #ad8ee7;
  --color-red: #ff8a80;
  --color-white: #d5dbe1;
  --color-yellow: #ffd600;
  --color-default: #5b5b5b;

  --mono-60: #8E9095;
  --placeholder: #A9AEB3;
  --light: #CACDD2;
  --light-1: #F7F8F9;
  --warning-40: #FFBF00;
  --error: #DE3730;
  --elevation: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);

}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
}

@media print {

  @page {
    size: auto;
    margin: 0 0 2rem;
    font-size: 80%;
  }

  * {
    print-color-adjust: exact;
  }

  iframe {
    display: none;
  }
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

@font-face {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
  font-family: "Roboto Slab", serif;
}

.no-print {
  @media print {
    display: none !important;
  }
}
